.choosenSneakers {
    padding: 5.5556vw 0;

    .container-fluid {
        align-items: center;

        .imagesPart {
            position: relative;
            padding-bottom: 2.431vw;

            .images {
                position: absolute;
                left: 3.54167vw;
                bottom: 0;
                width: 25.4861vw;
                height: 25.833vw;
                border-radius: 3.4722vw;
                background: rgba(251, 191, 36, 1);
            }
            
            img {
                position: relative;
                width: 33.75vw;
                height: auto;
            }
        }

        .textPart {
            display: flex;
            flex-direction: column;
            gap: 2.222vw;
            width: 49.583vw;

            h3 {
                font-family: Roboto;
                font-size: 5vw;
                font-weight: 800;
                line-height: 5.5vw;
                color: rgba(15, 23, 42, 1);
            }

            p {
                font-family: Roboto;
                font-size: 1.25vw;
                font-weight: 400;
                line-height: 2vw;
                color: rgba(15, 23, 42, 1);
            }

            .buttons {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1.111vw;

                .button {
                    cursor: pointer;
                    font-family: Roboto;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 24px;
                    letter-spacing: 0.5px;
                    width: 12.431vw;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    height: 3.8889vw;
                    color: rgba(120, 53, 15, 1);
                    border: 2px solid rgba(120, 53, 15, 1);
                    border-radius: 0.5556vw
                }

                .watchVideo {
                    width: 10.55vw;
                    height: 3.333vw;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 0.5556vw;
                    cursor: pointer;

                    p {
                        font-size: 1.111vw;
                        font-weight: 500;
                        line-height: 1.6667vw;
                        letter-spacing: 0.5px;
                        color: rgba(120, 53, 15, 1);
                        align-items: center;
                        margin: 0;
                    }

                    img {
                        width: 1.3889vw;
                        height: auto;
                    }
                }
            }
        }
    }
}