.container-fluid {
  width: 100% !important;
  padding: 0 4.071vw;
}

body {
  overflow-x: hidden;
}

@media (min-width: 900px) {
  .container-fluid {
    width: 89vw !important;
    padding: 0;
  }

}