header {
    padding: 1.6667vw 0;

    .btn {
        width: 10.34722vw;
        font-family: Roboto;
        font-size: 1.11vw;
        font-weight: 500;
        line-height: 1.6667vw;
        letter-spacing: 0.5px;
        color: rgba(120, 53, 15, 1);
        border: 2px solid rgba(120, 53, 15, 1);
        outline: none;
    }

    .d-flex {
        gap: 1.11vw;
    }
}